/* mixins */

// Font mixins
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-default ($weight: 400, $style: normal) {
  font-family: $font-default;
  font-weight: $weight;
  font-style: $style;
  @include font-smoothing;
}

// Responsive queries
@mixin respond ($media) {
  @media #{$media} {
    @content;
  }
}

// Image for retina
@mixin image-2x ($image, $width, $height) {
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    background-image: url($image);
    @include background-size($width $height);
  }
}