/* settings */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700,400italic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
$font-default: 'Titillium Web', sans-serif;
$font-myriad: 'PT Sans', sans-serif;
$font-arial: 'Arial', sans-serif;

/* Color */
